<%= form_with(model: task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :conntent, 'タスク' %>
  <%= f.text_field :conntent %> <br>
  
   <%= f.label :status, 'ステータス' %>
  <%= f.text_field :status %> <br>
  
  <%= f.submit 'タスクを追加' %>
<% end %>